<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>登录 - K</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="../static/lib/aos/aos.css" media="all">
  <link rel="stylesheet" href="../static/lib/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../static/lib/materialize/materialize.min.css" media="all">
  <link rel="stylesheet" href="../static/lib/font-awesome/css/font-awesome.min.css" media="all">
  <link rel="stylesheet" href="../static/lib/animate/animate.min.css" media="all">
  <link rel="stylesheet" href="../static/css/common.css" media="all">
  <link rel="stylesheet" href="../static/css/login_register.css" media="all">
  <link rel="stylesheet" href="../static/css/header.css" media="all">
  <link rel="stylesheet" href="../static/css/largeImage.css" media="all">
</head>

<body>
  <!-- 菜单栏 -->
  <header class="navbar-fixed right-align" data-aos="fade-down" data-aos-duration="800">
    <a href="/" class="blog-logo" style="z-index: 998;">K</a>
    <div id="sidebarSwitch" class="sidebar-switch hide">
      <span class="fa fa-navicon"></span>
    </div>
    <ul id="mHeader" class="layui-nav" style="background-color:rgba(0, 0, 0, 0);">
      <li class="layui-nav-item">
        <a href="/" class="font-size-16">首页</a>
      </li>
      <li class="layui-nav-item">
        <a href="/category" class="font-size-16">专栏</a>
      </li>
      <li class="layui-nav-item">
        <a href="/archives" class="font-size-16">归档</a>
      </li>
      <li class="layui-nav-item">
        <a href="/about" class="font-size-16">关于</a>
      </li>
      <li class="layui-nav-item layui-this">
        <a href="/login" class="font-size-16">登录</a>
      </li>
    </ul>
  </header>

  <!-- 主体 -->
  <main id="mMain">
    <div class="large animated fadeIn">
      <div class="large-header">
        <div class="large-title">
        </div>
        <div class="mask"></div>
        <div class="large-center container materialize">
          <div class="large-title large-center sidebar-font">
            <h3>登录</h3>
          </div>

          <form id="loginForm">
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <i class="fa fa-user fa-fw prefix"></i>
                <input id="inUser" name="inUser" type="text" class="validate">
                <label for="icon_prefix">账号/手机号</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <i class="fa fa-lock fa-fw prefix"></i>
                <input id="inPassword" name="inPassword" type="password" class="validate">
                <label for="icon_prefix">密码</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="right">
                  <input type="checkbox" class="filled-in" id="rememberme" name="rememberme" />
                  <label for="rememberme" class="checkbox">
                    <span>记住我</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12">
                <a id="btnLogin" name="btnLogin" type="button" class="waves-effect waves-light btn m-button"
                  style="width: 100%;">登录</a>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="left">
                  <a href="register">注册账号</a>
                </div>
                <div class="right">
                  <a href="">忘记密码</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <!-- 底部栏 -->
  <footer id="mFooter" class="z-depth-5 footer-backgroud">
    <div class="container center-align">
      <p>
        Copyright © 2020
        <a href="/">kongsheng.top</a>
        All Rights Reserved KS
      </p>
      <!-- &nbsp; | &nbsp; -->
      <!-- <img src="https://static.dy208.cn/o_1dfilp8ruo521thr1hvf18ji17soa.png" style="margin-bottom: 3px;"> -->
      <a href="http://www.beian.miit.gov.cn/" class="beian" target="_blank">浙ICP备20016905号</a>
    </div>
  </footer>

  <!-- 侧边菜单 -->
  <a href="#" data-activates="slide-out" class="button-collapse"></a>
  <ul id="slide-out" class="side-nav sidebar-backgroud">
    <li><a class="waves-effect" href="/">首页</a></li>
    <li><a class="waves-effect" href="/category">专栏</a></li>
    <li><a class="waves-effect" href="/archives">归档</a></li>
    <li><a class="waves-effect" href="/about">关于</a></li>
    <li><a class="waves-effect" href="/login">登录</a></li>
  </ul>

  <div class="right-button">
    <!-- 菜单 -->
    <div id="mMenu" class="mMenu fixed-action-btn animated bounceInRight">
      <a class="btn-floating btn-large arrow-up-backgroud">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </div>
    <!-- 返回顶部按钮 -->
    <div id="arrowUp" class="arrowUp fixed-action-btn animated bounceInRight">
      <a class="btn-floating btn-large arrow-up-backgroud">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <script src="../static/js/jquery-3.4.1.min.js" th:src="@{../static/js/jquery-3.4.1.min.js}"></script>
  <script src="../static/lib/aos/aos.js" charset="utf-8"></script>
  <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
  <script src="../static/lib/materialize/materialize.min.js" charset="utf-8"></script>
  <script src="../static/js/common.js" charset="utf-8"></script>
  <script src="../static/js/login_register.js" charset="utf-8"></script>

  <script>
    $(function () {
      document.onkeypress = function (e) {
        var ev = document.all ? window.event : e;
        if (ev.keyCode == 13) {
          login();
        }
      }
    });
  </script>
</body>

</html>